**Dictionary**

Collection of objects of different types stored in the key-value pair format enclosed within {}, each value sperated from its key by colon :

**Syntax**

Dict1=[1:'a', 2:'b', 3:'c'}

**Characteristics:**

- It has mutable nature
- Dup;icates are not allowed
- Elements can't be acessed by index

In [5]:
#create empty dict
Dict1={}
Dict1={'income':"false", 'consumption':'true'}
print(Dict1['income'])

false

**Create a dictionary** named student that stores the following information:

"name" , "roll_no" , "department" , "semester" , "cgpa"

In [2]:
student = {
    "name": "Ali Raza",
    "roll_no": "BSCS-21-045",
    "department": "Computer Science",
    "semester": 5,
    1: 3.41
}
print(student)

{'name': 'Ali Raza', 'roll_no': 'BSCS-21-045', 'department': 'Computer Science', 'semester': 5, 1: 3.41}

**operations on dictionary.**

In [3]:
# Update CGPA
student[1] = 3.65
print(student)

{'name': 'Ali Raza', 'roll_no': 'BSCS-21-045', 'department': 'Computer Science', 'semester': 5, 1: 3.65}

In [5]:
# Add a new key 'skills'
student["skills"] = ["Python", "Data Analysis", "SQL"]
print(student)

{'name': 'Ali Raza', 'roll_no': 'BSCS-21-045', 'department': 'Computer Science', 'semester': 5, 1: 3.65, 'skills': ['Python', 'Data Analysis', 'SQL']}

**Basic Statistics**

In [28]:
data1 = [10, 20, 30, 40, 50]
mean_value = np.mean(data1)
print("Mean:", mean_value)

Mean: 30.0

In [37]:
import statistics

# initializing list
data2 = [1, 2, 3, 3, 2, 2, 2, 1]

# using mean() to calculate average of data
print ("Mean", statistics.mean(data2))

Mean 2

In [32]:
median_value = np.median(data2)
print("Median:", median_value)

Median: 2.0

In [33]:
# Python code to demonstrate the working of median() on various range of data-sets

from statistics import median
from fractions import Fraction as fr

# tuple of positive integer numbers
data1 = (10, 20, 30, 40, 50)

# tuple of floating point values
data2 = (2.4, 5.1, 6.7, 8.9)

# tuple of fractional numbers
data3 = (fr(1, 2), fr(44, 12),
        fr(10, 3), fr(2, 3))

# tuple of a set of negative integers
data4 = (-5, -1, -12, -19, -3)

# tuple of set of positive and negative integers
data5 = (-1, -2, -3, -4, 4, 3, 2, 1)

# Printing the median of above datasets
print("Median of data-set 1 is % s" % (median(data1)))
print("Median of data-set 2 is % s" % (median(data2)))
print("Median of data-set 3 is % s" % (median(data3)))
print("Median of data-set 4 is % s" % (median(data4)))
print("Median of data-set 5 is % s" % (median(data5)))

Median of data-set 1 is 30
Median of data-set 2 is 5.9
Median of data-set 3 is 2
Median of data-set 4 is -5
Median of data-set 5 is 0.0

In [42]:
import statistics

data = [2, 4, 5, 2, 3, 2, 4, 5, 2]

mode = statistics.mode(data)
print("Mode:", mode)

Mode: 2

In [43]:
from statistics import multimode

data = [1, 2, 2, 3, 3, 4]

modes = multimode(data)
print("Modes:", modes)

Modes: [2, 3]

In [47]:
from collections import Counter

data = [2, 4, 5, 2, 3, 2, 4, 5, 4]

counts = Counter(data)
mode = counts.most_common(1)[0][0]

print("Mode:", mode)

Mode: 2

In [48]:
import pandas as pd

data = [12, 15, 14, 10, 8, 20, 18, 15, 16]

df = pd.DataFrame(data, columns=["Values"])
print(df.describe())

          Values
count   9.000000
mean   14.222222
std     3.767552
min     8.000000
25%    12.000000
50%    15.000000
75%    16.000000
max    20.000000

In [54]:
# Create marks dictionary
marks = {
    "Mathematics": 85,
    "Statistics": 78,
    "Programming": 92
}

# Max, Min, Average
max_marks = max(marks.values())
min_marks = min(marks.values())
avg_marks = sum(marks.values()) / len(marks)

print(f"Max marks: {max_marks}")
print(f"Min marks: {min_marks}")
print(f"Average marks: {avg_marks:.2f}")
print("\n")

# Add marks as nested dictionary inside student
student["marks"] = marks

print("Final Nested Dictionary:")
print(student)

Max marks: 92
Min marks: 78
Average marks: 85.00


Final Nested Dictionary:
{'name': 'Ali Raza', 'roll_no': 'BSCS-21-045', 'department': 'Computer Science', 'semester': 5, 'cgpa': 3.65, 'marks': {'Mathematics': 85, 'Statistics': 78, 'Programming': 92}}