**List**

List is a data structure in which we can store positionally ordered collection of arbitrary object types like integer, float, string etc.

- It has mutable nature
- It has no fixed size
- Duplicates are allowed


**Syntax**

list_name=[Item 1, Item 2, ..., Item n]

In [1]:
#create empty list
list1=[]
print(type(list1))
print(list1)


#list using list function
list2=list()
print(type(list2))

<class 'list'>
[]
<class 'list'>

In [2]:
#create a list and print it
list_1=['alpha', 'beta', 'gamma']
print(list_1)

['alpha', 'beta', 'gamma']

**Operations on list**

**Find length of the list**

In [3]:
#find length of list
print(len(list_1))

3

**Add element to the list**

In [4]:

#method 1: "append" automatically adds at last position (you can append another list to this list)
list_1.append(["a", "b"])

#method 2: add element at specific index
#list_1.insert(2, "mu")

print(list_1)

['alpha', 'beta', 'gamma', ['a', 'b']]

**Replace the element**

In [5]:

list_1[1]=15
print(list_1)

['alpha', 15, 'gamma', ['a', 'b']]

**To count how many times a specific item is present**

In [6]:

print(list_1.count("mu"))

0

**To undo append or delete element**

pop:pop modifies the list and returns the element that was removed

#If you don’t provide an index, it deletes and returns the last element

In [9]:


#method 1: to del with item name
#list_1.remove("mu")

#method 2: del by index
#del list_1[-1]

#method 3: delete last element or at specific index
#list_1.pop()
list_1.pop(1)

print(list_1)

['alpha', 'gamma']

**To find index of specific element**

In [67]:
#list_1.index('beta')
#call item by index
print(list_1[1])

beta

**To arrange items**

In [49]:
#arrange in ascending order
#list_1.sort()

#to arrange in descending or reverse order
list_1.sort(reverse=True)
print(list_1)

['mu', 'mu', 'mu', 'gamma', 'beta', 'alpha']

**slicing specific region inside list**

In [11]:
#from index 3 to 5
#list_1[3:6]

#from index 2 to last element
list_1[2:]

#from start to index 3
#list_1[:4]

[]

**cancatenating two or more lists**

In [20]:
list_2=[2, 3, 4, 6]
list_1+list_2

#OR 
#list_1 + [3,4,9]

['alpha', 'gamma', 2, 3, 4, 6]

**to check if specific element exist in list or not**

In [24]:

3.01 in list_2

False

In [29]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:2] = ['x', 'y' 'z', 1]
print(t)

['a', 'x', 'yz', 1, 'c', 'd', 'e', 'f']

Create a list named my_items that contains:
•	The first 3 letters of your name (as ONE string)
•	The last 2 digits of your phone number
•	The current month number
•	Any two fruits that start with the same letter as your name
 Perform the following operations:
•	Print the length of the list
•	Replace the second element of the list with "Python"
•	Sort the list
•	Reverse the list

In [11]:
my_items=["san", 96, 11, 'saib', 'apple']
print(len(my_items))

5

In [12]:
my_items[1]="Python"
my_items[2]='11'
print(my_items)

['san', 'Python', '11', 'saib', 'apple']

In [14]:
my_items.sort()
my_items.sort(reverse=True)
print(my_items)

['san', 'saib', 'apple', 'Python', '11']

Create a dictionary called temps where:
•	Keys = 3 cities you have visited or want to visit
•	Values = Today’s temperature in your city (3 random numbers of your choice)
 Perform the following:
•	Add a 4th city to dictionary
•	Update temperature of one existing city
•	Print the hottest city
•	Delete the coolest city

In [15]:
temps={'Islamabad':23, 'lahore':18, 'kashmir':8}
print(temps)

{'Islamabad': 23, 'lahore': 18, 'kashmir': 8}

In [16]:
temps['Jhang']=12
print(temps)

{'Islamabad': 23, 'lahore': 18, 'kashmir': 8, 'Jhang': 12}

In [17]:
temps['lahore']=20
print(temps)

{'Islamabad': 23, 'lahore': 20, 'kashmir': 8, 'Jhang': 12}

In [18]:
print(temps['Islamabad'])

23

In [19]:
#Task: Create a list of 5 different integers and print it.
numbers = [3, 7, 12, 25, 40]
print(numbers)
print(len(numbers))
#Task: Print the first and last element of the list.
print("First:", numbers[0])
print("Last:", numbers[-1])

#Task: Add the number 99 to the end of the list.
numbers.append(99)
print(numbers)

[3, 7, 12, 25, 40]
5
First: 3
Last: 40
[3, 7, 12, 25, 40, 99]