Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [14]:
#define the variable (rules of defining variables)
x=1
x="False"
# #assign multiple values
# x, y, z = 56, "Banana", "Cherry"
print(x)
# print(y)
# print(z)
print(type(x))

False
<class 'str'>

In [2]:
#define the variable (rules of defining variables)
# x=1
# x=2.4
# x=2+3j
# x=True
# x=(1,2)
# x="abc"
# y=x.upper() #convert uppercase
# print(x.upper())
# z=x.replace("c", "d")
x={1, 2, 4, "a"}
# x=['blue', 'green', 'white']
# x={'Green':"True", 'yellow':"False"} 
print(x) #it prints latest command
print(type(x))
#print(x[:2]) #print first 2
# print(z)
print(x.find('a'))

{'a', 1, 2, 4}
<class 'set'>

AttributeError: 'set' object has no attribute 'find'

In [17]:
print("I am", 35, "years old.")
#print("I am 35 years old.")

I am 35 years old.

In [ ]:
#if you want to specify the data type of variable
z = float(3)  # z will be 3.0

In [23]:
# basic mathematical operations
# explain case sensitive nature
x=5
y=6
z=x+y
#print(z)
#print(x+y)
# print(x-y)
# print(x*y)
# print(x/y)
print(x**2)

11
-1
30
0.8333333333333334
25

1. Create 3 variables with different names of types string, integer, float.
2. Convert integer to float, string to integer, float to string.
4. Without using a third variable, swap the values of two variables.
5. Evaluate in python “result = (5 + 3) x 4 – 2^3 ”

text = "python programming"

Your task:

Convert the string to uppercase

Print the first 6 characters

Replace "python" with "data"

Find the position of "gram"