In [ ]:
import numpy as np
data1 = [10, 20, 30, 40, 50]
mean_value = np.mean(data1)
print("Mean:", mean_value)

Mean: 30.0

In [ ]:
# Python code to demonstrate the working of mean()
# importing statistics to handle statistical operations
import statistics

# initializing list
data2 = [1, 2, 3, 3, 2, 2, 2, 1]

# using mean() to calculate average of data
#print ("The average of list values is : ",end="")
print ("Mean", statistics.mean(data))

Mean 2

In [ ]:
median_value = np.median(data)
print("Median:", median_value)

Median: 30.0

In [ ]:
# Python code to demonstrate the working of median() on various range of data-sets

from statistics import median
from fractions import Fraction as fr

# tuple of positive integer numbers
data1 = (10, 20, 30, 40, 50)

# tuple of floating point values
data2 = (2.4, 5.1, 6.7, 8.9)

# tuple of fractional numbers
data3 = (fr(1, 2), fr(44, 12),
        fr(10, 3), fr(2, 3))

# tuple of a set of negative integers
data4 = (-5, -1, -12, -19, -3)

# tuple of set of positive and negative integers
data5 = (-1, -2, -3, -4, 4, 3, 2, 1)

# Printing the median of above datasets
print("Median of data-set 1 is % s" % (median(data1)))
print("Median of data-set 2 is % s" % (median(data2)))
print("Median of data-set 3 is % s" % (median(data3)))
print("Median of data-set 4 is % s" % (median(data4)))
print("Median of data-set 5 is % s" % (median(data5)))

Median of data-set 1 is 30
Median of data-set 2 is 5.9
Median of data-set 3 is 2
Median of data-set 4 is -5
Median of data-set 5 is 0.0

In [ ]:
import numpy as np

# Example dataset
data = np.array([4, 5, 6, 4, 4, 7, 6, 5, 4])

# Find unique values and their counts
values, counts = np.unique(data, return_counts=True)

# Find the index of the maximum count
max_count_index = np.argmax(counts)

# Mode value
mode_value = values[max_count_index]

print("Mode of the data:", mode_value)

Mode of the data: 4

In [ ]:
import numpy as np

# Example dataset (multimodal: 4 and 5 both appear most frequently)
data = np.array([4, 5, 6, 4, 5, 7, 6, 5, 4])

# Get unique values and their counts
values, counts = np.unique(data, return_counts=True)

# Find the highest frequency
max_count = np.max(counts)

# Get all values with that frequency (all modes)
modes = values[counts == max_count]

print("Modes of the data:", modes)

Modes of the data: [4 5]

In [ ]:
from statistics import mode
mode_value = mode([8, 9, 9, 10, 9, 8, 10])
print("Mode:", mode_value)

Mode: 9

üí° Example:
Two classes have the same average score of 50,

but Class A scores = [45, 50, 55] (low variance),

Class B scores = [30, 50, 70] (high variance).

In [ ]:
variance_value = np.var([45, 50, 55])
print("Variance:", variance_value)

Variance: 16.666666666666668

In [ ]:
variance_value = np.var([30, 50, 70])
print("Variance:", variance_value)

Variance: 266.6666666666667

2

Standard Deviation:
Square root of variance ‚Äî shows how spread out data is.

üí° Example:
In weather data, a small std dev means temperatures stay close to average,
a large std dev means temperatures vary a lot.

In [ ]:
std_value = np.std([45, 50, 55])
print("Standard Deviation:", std_value)

Standard Deviation: 4.08248290463863

 Correlation
Measures relationship between two variables (-1‚â§ùëü‚â§1).

üí° Example:
Hours studied vs exam scores ‚Äî strong positive correlation.

In [ ]:
x = [1, 2, 3, 4, 5]
y = [2, 4, 6, 8, 10]
correlation_matrix = np.corrcoef(x, y)
print("Correlation:", correlation_matrix[0,1])

Correlation: 0.9999999999999999